@import '../../../assets/config';

#sun {
  position: fixed;
  right: 25px;
  top: 25px;
}

#container {
  width: 100%;
  min-height: 550px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: calc(100% - #{$game-height});
  min-height: 300px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 25;

  nav {
    width: 100%;
    height: 60px;
    background-color: rgba(47, 167, 230, 0.8);

    &:hover {
      opacity: 1!important;
    }

    .container {
      width: 80%;
      margin: 0 auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    h1 {
      font-family: 'Kenney High';
      font-size: 2em;
      color: white;
    }

    li {
      float: left;
      &:not(:first-child) {
        margin-left: 20px;
      }

      a {
        text-decoration: none;
        color: white;
        opacity: 0.7;
        font-family: 'Kenney High';
        font-size: 1.5em;

        &:hover {
          opacity: 1;
          text-decoration: underline;
        }

      }
    }

  }

  #start-game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      max-width: 400px;
      color: white;
      font-family: 'Open Sans', sans-serif;
      margin-top: 20px;
      text-align: center;
    }

    button {
      margin-top: 20px;

      padding: 20px 40px 20px 40px;
      border: 5px solid transparent;
      border-image-slice: 27 27 27 27;
      border-image-width: 15px 15px 15px 15px;
      border-image-outset: 0 0 0;
      border-image-repeat: repeat repeat;
      border-image-source: url('../../../assets/button.png');
      background-color: #d3bf8f;
      background-clip: padding-box;

      font-family: 'Kenney High';
      font-size: 2em;
      color: rgba(0, 0, 0, 0.8);
      transition-duration: 0.2s;

      &:hover {
        font-size: 2.5em;
        font-weight: 800;
        cursor: pointer;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }

    }

  }

}

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 20;
}

#sky {
  height: calc(100% - #{$game-height});
  min-height: 300px;
  width: 100%;
  background: linear-gradient(#2b9be2, #47f3ff);
}

main {
  overflow-x: scroll;
  background: #2fbdff url('../../../assets/clouds.png') repeat-x;

  display:flex;
  align-items: flex-end;

  position: relative;

  #content {
    position: absolute;
    bottom: 273px;
  }

}
