<web-ide></web-ide>
<div id="container">
  <div id="sun">
    <img src="../../../assets/props/sun.png" />
  </div>
  <header>
    <button (click)="startGame()">START!</button>
    <dialogue-modal></dialogue-modal>
  </header>

  <main>
    <div id="content">
      <prop [img]="pathToAssets + 'props/sign.png'" [coordinate]="760" (click)="buy(1)"></prop>
      <prop [img]="pathToAssets + 'props/sign.png'" [coordinate]="1040"></prop>
    </div>

    <img src="{{pathToAssets}}background.png" id="background"/>
  </main>

</div>

