@import '../../../assets/config';

#sun {
  position: fixed;
  right: 25px;
  top: 25px;
}

#container {
  width: 100%;
  min-height: 550px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 20;
}

#sky {
  height: calc(100% - #{$game-height});
  min-height: 300px;
  width: 100%;
  background: linear-gradient(#2b9be2, #47f3ff);
}

main {
  overflow-x: scroll;
  background: #2fbdff url('../../../assets/clouds.png') repeat-x;

  display:flex;
  align-items: flex-end;

  position: relative;

  #content {
    height: 100%;
    width: 100%;
    position: absolute;
    padding-bottom: 188px;
    display: flex;
    align-items: flex-end;
  }

}
