#overlay, #container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#overlay {
  z-index: 10;
  background-color: black;
  opacity: 0.43;
}

#container {
  z-index: 20;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;

  #dialogue, #dialogue-controls {
    max-width: 700px;
    width: 80%;
  }

  #dialogue {
    height: 200px;
    max-width: 800px;
    width: 80%;

    .icon, .box {
      height: 100%;
      float: left;
    }

    .icon {
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .box {
      width: calc(100% - 250px);
      box-sizing: border-box;
      font-family: 'VT323', monospace;
      font-size: 1.5em;

      border: 30px solid transparent;
      border-image: url('../../../assets/props/border.png') 30 round;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: #cc9145;
      overflow-y: scroll;
      overflow-x: hidden;

      /* Let's get this party started */
      &::-webkit-scrollbar {
        width: 12px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(255, 0, 0, 0.8);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
      &::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(255, 0, 0, 0.4);
      }

    }

  }

  #dialogue-controls {
    margin-top: 10px;
    height: 40px;
    img {
      cursor: pointer;
      float: right;
    }
  }

}
