<div id="container" *ngIf="visible">

  <div id="ide">

    <main>
      <div id="editor" ace-editor
           [(text)]="code"
           [mode]="'html'"
           [theme]="'eclipse'"
           style="background-color: #fdf6e3"
      ></div>
      <div id="preview">
        <div id="render-area" [innerHTML]="code | safeHtml">

        </div>
      </div>
    </main>
    <footer>
      <div class="icon">
        <img src="../../../assets/characters/{{task.icon}}.png">
      </div>
      <div class="transcript">
        <p [innerHTML] = "task.transcript | safeHtml" ></p>
      </div>
      <hr />

      <div class="button">
        <button class="light">
          <img src="../../../assets/props/icons/map.png"/>
        </button>
        <p>PLANS</p>
      </div>

      <div class="button">
        <button class="dark">
          <img src="../../../assets/props/icons/inventory.png"/>
        </button>
        <p>INVENTORY</p>
      </div>

      <div class="button">
        <button class="light">
          <img src="../../../assets/props/icons/hints.png" />
        </button>
        <p>HINTS</p>
      </div>

      <div class="button">
        <button class="dark">
          <img src="../../../assets/props/icons/resources.png"/>
        </button>
        <p>RESOURCES</p>
      </div>

      <div class="button">
        <button class="gray">
          <img src="../../../assets/props/icons/restart.png"/>
        </button>
        <p>RESTART</p>
      </div>

      <div class="complete">

      </div>

    </footer>

  </div>
  <div id="exit" (click)="close()"></div>
</div>
