#main {
  width: 100%;
  height: 100%;
  float: left;
}

#nav {
  border-right: 16px solid transparent;
  border-image: url('../../../../assets/props/single-border-vertical.png') 24 round;
  width: calc(20% - 8px);
  height: 100%;
  float: left;

  #header {
    padding-top: 30px;
    height: 80px;
    text-align: center;
    p {
      font-size: 4em;
    }
  }

  #menu {
    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 15px;
      margin-right: 15px;
      border: 21px solid  #fdf6e3;
      border-image-slice: 27 27 27 27;
      border-image-width: 15px 15px 15px 15px;
      border-image-outset: 0 0 0;
      border-image-repeat: repeat repeat;
      border-image-source: url('../../../../assets/img/button.png');
      background-color: #d3bf8f;


      p {
        font-size: 1.7em;
      }
    }
  }
}

#item-container {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: left;
  align-content: start;
  padding-left: 15px;

  #item-display {
    height: 300px;
    width: 200px;
    border: 4px solid #9f7b56;
    background: #d3bf8f;
    float: left;
    margin: 40px 15px 15px 15px;



    #item-desc {
      border-top: 4px solid #9f7b56;
    }

    #item-tag {
      border-top: 4px solid #9f7b56;
      border-bottom: 4px solid #9f7b56;
    }
  }
}


p {
  font-family: 'VT323', monospace;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);

  b {
    color: rgba(0, 0, 0, 1);
  }
}
