<div *ngIf="active" id="main">
  <div id="nav">
    <div class="top-space"></div>
    <div id="header">
      INVENTORY
    </div>
    <div id="menu">

     <div class="button-border" (mouseover)="setHover(true, 0)"
          (mouseleave)="setHover(false, 0)" *ngIf="!this.buttonHover[0]" >
        <div class="button">
          BUILDING BLOCKS
        </div>
      </div>
      <div class="button-border-onHover" (mouseover)="setHover(true, 0)"
           (mouseleave)="setHover(false, 0)" *ngIf="this.buttonHover[0]" >
        <div class="button">
          BUILDING BLOCKS
        </div>
      </div>

      <div class="button-border" (mouseover)="setHover(true, 1)"
           (mouseleave)="setHover(false, 1)" *ngIf="!this.buttonHover[1]" >
        <div class="button">
          DECORATIVE BLOCKS
        </div>
      </div>
      <div class="button-border-onHover" (mouseover)="setHover(true, 1)"
           (mouseleave)="setHover(false, 1)" *ngIf="this.buttonHover[1]" >
        <div class="button">
          DECORATIVE BLOCKS
        </div>
      </div>

      <div class="button-border" (mouseover)="setHover(true, 2)"
           (mouseleave)="setHover(false, 2)" *ngIf="!this.buttonHover[2]" >
        <div class="button">
          STYLE CLASSES
        </div>
      </div>
      <div class="button-border-onHover" (mouseover)="setHover(true, 2)"
           (mouseleave)="setHover(false, 2)" *ngIf="this.buttonHover[2]" >
        <div class="button">
          STYLE CLASSES
        </div>
      </div>

      <div class="button-border" (mouseover)="setHover(true, 3)"
           (mouseleave)="setHover(false, 3)" *ngIf="!this.buttonHover[3]" >
        <div class="button">
          CUSTOM BLOCKS
        </div>
      </div>
      <div class="button-border-onHover" (mouseover)="setHover(true, 3)"
           (mouseleave)="setHover(false, 3)" *ngIf="this.buttonHover[3]" >
        <div class="button">
          CUSTOM BLOCKS
        </div>
      </div>
    </div>
  </div>

  <div id="item-container">
    <div class="top-space"></div>
    <div id="items">
      <div id="item-display" *ngFor="let i of inventory">

        <div id="item-image">
          <img src="{{pathToFile}}{{i.img}}">
        </div>

        <div id="item-desc">
          <p>{{i.description}}</p>
        </div>

        <div id="item-id">
          <p>{{i.id}}</p>
        </div>

        <div id="item-class">
          <p>{{i.class}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
