<div *ngIf="active" id="main">
  <div id="nav">
    <div class="top-space"></div>
    <div id="header">
      <p>RESOURCES</p>
    </div>
    <div id="menu">
      <div class="button-border">
        <div class="button">
          HTML
        </div>
      </div>

      <div class="button-border">
        <div class="button">
          CSS
        </div>
      </div>

      <div class="button-border">
        <div class="button">
          JAVASCRIPT
        </div>
      </div>

      <div class="button-border">
        <div class="button">
          OTHER
        </div>
      </div>
    </div>
  </div>

  <div id="res-container">
    <div class="top-space"></div>
    <div id="resources">
      <div id="res-display" *ngFor="let r of res">

        <div id="res-name">
          {{r.name}}
        </div>

        <div id="res-link">
          <a href="{{r.link}}">{{r.link}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
