<header class="container">
  <!--<h1>TownBuilder</h1>-->

  <nav>
    <ul>
      <li id="logo">
        <img src="../../../../assets/logo.png">
        <h1>TOWN BUILDER</h1>
      </li>
      <li>
        <a href="#welcome" class="active">
          <h2>WELCOME</h2>
          <p>Introducing TownBuilder.</p>
        </a>
      </li>
      <li>
        <a href="#about">
          <h2>ABOUT</h2>
          <p>Understand our motivation and objectives.</p>
        </a>
      </li>
      <li>
        <a href="#classroom">
          <h2>IN THE CLASSROOM</h2>
          <p>Download lesson plans and resources.</p>
        </a>
      </li>
      <li>
        <a href="#features">
          <h2>FEATURES & SUPPORT</h2>
          <p>A comprehensive list of what makes TownBuilder.</p>
        </a>
      </li>
    </ul>
  </nav>

  <button routerLink="/">Play</button>

</header>

<main class="container">
  <section id="welcome">
    <div class="square">
      <div class="content">

        <div>
          <h1>Welcome to <b>Town Builder.</b></h1>
          <p>The revolutionary video game that teaches front-end development to kids.<br>
            Developed on thorough research into children's learning, we want to empower the next generation.</p>
          <a href="#classroom">SEE OUR CLASSROOM RESOURCES</a>
        </div>


      </div>
    </div>
    <div class="square">
      <div class="content">

      </div>
    </div>
  </section>

  <section id="about">
    <div class="squares">
      <div class="square">
        <div class="content"></div>
      </div>
      <div class="square">
        <div class="content">
          <div>
            <h1>Meet Mayor Valery.</h1>
            <p>She will be joining you on your quest to learn
              industry-leading skills in a creative and supportive
              environment.
              <br><br>
              TownBuilder provides students with extensive
              resources to design and build their own unique
              world through HTML, CSS and Javascript.</p>
            <a href="#features">SEE ALL THE FEATURES</a>
          </div>
        </div>
      </div>
    </div>

    <div class="items">
      <div class="item">
        <h1>LEARN</h1>
        <p>Learn through our comprehensive IDE and see the power of front-end development with our live-updating preview.</p>
      </div>
      <div class="item">
        <h1>EXPLORE</h1>
        <p>Join Mayor Valery on her quest to build her quiet home into a town.<br><br>
        Meet quirky characters and bring their dreams to life, integrating them into your town.</p>
      </div>
      <div class="item">
        <h1>BUILD</h1>
        <p>With 100's of premade assets, you can design and create the buildings of your dreams.<br><br>
        Once you're comfortable with the environment, you can go off-story and start your own timeline.</p>
      </div>
    </div>

  </section>
  <section id="classroom"></section>
  <section id="features"></section>
</main>
