#header {
  width: 100%;
  min-height: 600px;
  height: auto;
  background: linear-gradient(#2b9be2, #47f3ff);

  display: flex;
  align-items: center;
  justify-content: center;

  .overlay {
    width: 500px;
    height: 400px;
    background-color: white;
    border: 1px solid #47f3ff;
  }

}
