#container, #exit {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 35;
  background-color: rgba(0, 0, 0, 0.43);
  overflow: scroll;
}

#ide {
  width: 95vw;
  min-width: 800px;
  max-width: 1500px;
  height: 80vh;
  min-height: 600px;
  max-height: 1200px;
  z-index: 20;

  border: 25px solid transparent;
  border-image: url('../../../assets/props/border.png') 24 round;

  display: flex;
  flex-direction: column;

  main {
    width: 100%;
    height: calc(100% - 125px);
    background-color: #fdf6e3;

    #editor, #preview {
      height: 100%;
      float: left;
    }

    #editor {
      border-right: 16px solid transparent;
      border-image: url('../../../assets/props/single-border-vertical.png') 24 round;
      width: calc(50% - 8px);

      .ace_content, .ace_tm, .ace-tm {
        background-color: #fdf6e3!important;
      }

    }

    #preview-container {
      width: calc(50% - 8px);
      height: 100%;

      display: flex;
      align-items: flex-end;
      justify-content: center;

      box-sizing: border-box;
      padding-bottom: 50px;

      //background: url('../../../assets/img/preview-background.png') no-repeat 50% 50%;
    }

  }

  footer {
    width: 100%;
    height: 125px;

    border-top: 16px solid transparent;
    border-image: url('../../../assets/props/single-border.png') 24 round;
    background-color: #d3bf8f;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px 0 20px;

    .icon {
      width: 76px;
      height: 76px;
      background: url('../../../assets/props/icon-background.png') no-repeat;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 47px;
        height: auto;
      }
    }

    .transcript {
      width: 350px;
      height: 76px;
      margin-left: 15px;
      padding: 5px;
      box-sizing: border-box;
      border: 2px solid #9f7b56;
      background-color: #ba936c;

      overflow-y: scroll;

      p {
        font-family: 'VT323', monospace;
        font-size: 1.2em;
        color: rgba(0, 0, 0, 0.8);

        b {
          color: rgba(0, 0, 0, 1);
        }
      }
    }

    hr {
      width: 15px;
      height: 76px;
      border: none;
      border-right: 1px solid #b1a077;
      margin: 0;
      padding: 0;
    }

    .button {
      height: 70px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      button {
        width: 45px;
        height: 49px;
        img {
          opacity: 0.6;
        }
      }

      p {
        font-family: 'Kenney High', sans-serif;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
      }

      &:hover {
        * {
          cursor: pointer;
        }
        button {
          img {
            opacity: 0.8;
          }
        }
        p {
          color: rgba(0, 0, 0, 0.9);
        }
      }
    }

    .complete {

    }

  }

}

.light {
  background-image: url('../../../assets/props/button/button-light.png');
}

.dark {
  background-image: url('../../../assets/props/button/button-dark.png');
}

.gray {
  background-image: url('../../../assets/props/button/button-gray.png');
}
