#preview {
  width: 320px; // original size
  height: 314px;
  border: 1px dotted #b7b7b7;
  // this will keep all components in the bottom middle
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

:host /deep/ * {

  #floor, #house-body, #roof {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: white;
    text-align: center;
    line-height: 40px;
  }

  #floor {
    width: 100%;
    height: 40px;
    background-color: brown;
  }

  #house-body {
    width: 80%;
    height: 300px;
    background-color: gray;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .row {
      width: 100%;
      height: 50%;
      border-top: 1px solid #d7d7d7;

      display: flex;
      justify-content: space-around;
      align-items: center;

    }
  }

  #roof {
    width: 85%;
    height: 30%;
    background-color: darkblue;
  }

  .window {
    width: calc(50% - 20px);
    height: calc(90% - 20px);
    background-color: yellow;
  }

  .door {
    width: calc(50% - 20px);
    height: 100%;
    background-color: #47f3ff;
  }

}
