<header>
  <dialogue-modal></dialogue-modal>
  <nav [style.opacity]="started ? '0.4' : '1'">
    <div class="container">
      <h1>Town Builder</h1>
      <ul>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">EDUCATION</a></li>
      </ul>
    </div>
  </nav>
  <div id="start-game" *ngIf="! started" [@slideInOut]>
    <img src="../../../../assets/img/logo.png">
    <p>Learn, practise and master HTML.<br>A game by Gerry Fletcher.</p>
    <button (click)="startGame()">START!</button>
  </div>
</header>
